@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components{
    :root{
        --play: running;
        --direction: normal;
        --duration: 40s;
        --delay: 0s;
        --iteration-count: infinite;
        font-family: 'Noto Sans Korean', sans-serif !important;
        font-weight: 400;
    }
    .marquee-container{
        overflow-x: hidden !important;
        display: flex !important;
        flex-direction: row !important;
        position: relative;
        /* width: 100%; */
    }
    .marquee{
        flex: 0 0 auto;
        min-width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
        animation-play-state: var(--play);
        animation-delay: var(--delay);
        animation-direction: var(--direction);
    }
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .scrolling-words-container {
        /* display: flex;
        align-items: center; */
    }
    .scrolling-words-box {
        height: 2rem;
        /* margin: auto; */
        overflow: hidden;
    }
    .scrolling-words-box ul {
        /* margin: 0 0.625rem; */
        padding: 0;
        animation: scrollUp_new 6s infinite;
        /* animation-delay: 3s; */
    }
    .scrolling-words-box ul li {
        /* display: flex;
        align-items: center;
        justify-content: flex-start; */
        height: 100%;
        list-style: none;
        font-size: 1rem;
        /* background-color: antiquewhite; */
    }
    @keyframes scrollUp {
        0%, 20% {
            transform: translateY(-2rem);
        }
        20%, 40% {
            transform: translateY(-4rem);
        }
        40%, 60% {
            transform: translateY(-6rem);
        }
        60%, 80% {
            transform: translateY(-8rem);
        }
        80%, 100% {
            transform: translateY(-10rem);
        }
    }


    .accordion{
        height: 65px;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }
    
    .accordion .accordion_tab{
        position: relative;
        padding: 18px 29px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: -0.72px;
        user-select: none;
        cursor: pointer;
    }
    .accordion .accordion_tab .accordion_arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 32px;
        height: 32px;
        transition: all 0.3s ease-out;
    }
    
    .accordion .accordion_tab .accordion_arrow svg path{
        /* transform: scale(1.3); */
    }
    
    .accordion.active{
        height: 140px;
    }
    .accordion .accordion_tab.active .accordion_arrow{
        transform: translateY(-50%) rotate(180deg);
    }
    
    .accordion .accordion_content{
        padding: 0 29px 29px;
        border-top: 1px solid #e9e9e9;
    }

    @media screen and (max-width: 1024px) {
        .accordion .accordion_tab,
        .accordion .accordion_item{
            font-size: 16px;
        }
        .accordion:nth-child(4){
            height: 86px;
        }
        .accordion.active{
            height: 152px;
        }
        .accordion:nth-child(4).active{
            height: 200px;
        }
    }
    @media screen and (max-width: 425px) {
        .accordion .accordion_tab{
            padding: 18px 22px;
        }
        .accordion .accordion_content{
            padding: 0 22px 18px;
        }
        .accordion:nth-child(4).active{
            height: 226px;
        }
    }

    .words_wrapper{
        /* box-sizing: content-box; */
        /* background-color: #ffffff; */
        /* height: 62px; */
        padding-bottom: 20px;
        /* display: flex; */
        /* border-radius: 8px; */
        /* box-shadow: 0 20px 25px rgba(0,0,0,0.2); */
    }
    /* .words{
        overflow: hidden;
    } */
    .words span{
        width: 100%;
        font-weight: 700;
        font-size: 22px;
    
        /* display: block;
        height: 100%;
        padding-left: 10px;
        animation: spin_words 6s infinite; */
    }
    
    .words span i{
        font-style: normal;
        padding: 0 6px;
    }
    .words span em{
        font-style: normal;
        color: #0630B9;
    }

    /* @keyframes spin_words {
        0%, 100% {
            transform: translateY(0%);
        }
        14.28% {
            transform: translateY(-100%);
        }
        28.56% {
            transform: translateY(-200%);
        }
        42.84% {
            transform: translateY(-300%);
        }
        57.12% {
            transform: translateY(-400%);
        }
        71.40% {
            transform: translateY(-500%);
        }
        85.68% {
            transform: translateY(-600%);
        }
    } */

    .btn_quick{
        background: transparent linear-gradient(227deg, #30D1FC 0%, #4C9EFB 100%) 0% 0% no-repeat padding-box;
    }

}